<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Aspiring Researchers</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="/CSS/amz.css">
</head>
<style>
   
</style>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
             
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Signed In as <%=currentStudent.username%> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#aa" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a  data-toggle="modal" data-target="#exampleModal" data-whatever="Blog" href="#" class="nav-link">Blog Request</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="/forgot" class="nav-link">Change Password</a>
                    </li>
                    <li class="nav-item">
                            <a href="/message/<%=currentStudent.id%>" class="nav-link">Messages</a>
                        </li>
                        <li class="nav-item">
                            <a href="/requests%>" class="nav-link">Edit Requests</a>
                        </li>
                        
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>
                    

                </ul>
            </nav>
        </div>
    </header>
    
        <h1 class="headline-dark a">
            <center> Personal Information</center>
        </h1>
        <div class="container">
                   <div class="wrapper">
                <div class="left">
                    <img class="profile-picture"
                        src="<%=currentStudent.file%>"
                        width="200" />
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th class="ten wide">Categories</th>
                                <th class="six wide">Your Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td><%=currentStudent.name%></td>
                            </tr>
                            <tr>
                                <td>College</td>
                                <td><%=currentStudent.college%></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><%=currentStudent.email%></td>
                            </tr>
                            <tr>
                                <td>Mobile Number</td>
                                <td><%=currentStudent.mobile%></td>
                            </tr>
                            <tr>
                                <td>Branch</td>
                                <td><%=currentStudent.dept%></td>
                            </tr>
                        </tbody>
                        
                    </table>
                </div>
            </div>
            </div>
           
            <section class="discover-our-story" >
                <h1 class="headline-dark">
                    <center> Request Now!!</center>
                </h1>
        <div class="container1">
            <div class="carousel">
                <a class="item a" data-toggle="modal" data-target="#exampleModal" data-whatever="Research" href="#">Research Paper</a>
                <a class="item b"data-toggle="modal" data-target="#exampleModal" data-whatever="Patent" href="#">Patent Consult</a>
                <a class="item c"data-toggle="modal" data-target="#exampleModal" data-whatever="StartupIdea" href="#">Startup Idea</a>
                <a class="item d"data-toggle="modal" data-target="#exampleModal" data-whatever="InnovativeIdea" href="#">Innovative Idea</a>
                <a class="item e"data-toggle="modal" data-target="#exampleModal" data-whatever="Complaints" href="#">Complaints</a>
                <a class="item f"data-toggle="modal" data-target="#exampleModal" data-whatever="StartupConsult" href="#">Startup Consult</a>
            </div>
        </div>
        <button class="next">Next</button>
        <button class="prev">Prev</button>
        </section>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <section class="discover-our-story" id="aa">
            <h1 class="headline-dark">
                <center> FAQ's</center>
            </h1>
        <button class="collapsible">FAQ 1</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 2</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 3</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 4</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 5</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 6</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
        </section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/dashboard" method="POST" enctype="multipart/form-data">
                    
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Recipient:</label>
                        <input type="text" name="request[recep]"class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description</label>
                        <textarea class="form-control" name="request[desc]"></textarea>
                    </div>
                    
               
            </div>
            <div class="modal-footer">
               
                <input type="file" name="request[req_file]">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Send message</button>
            </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="back-to-top">
            <a href="a1"><i class="fas fa-chevron-up"></i></a>
        </div>
        <div class="footer-content">
            <div class="footer-content-about animate-up">
                <h4>About AMZ</h4>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic
                    typesetting,
                    remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem
                    Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>
            </div>

            <div class="footer-content-divider animate-bottom">
                <div class="social-media">
                    <h4>Follow Us On</h4>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="newsletter-container">
                    <h4>Newsletter</h4>
                    <form action="#" class="newsletter-form">
                        <input type="text" class="newsletter-input" placeholder="your email">
                        <button class="newsletter-btn" type="submit">
                            <i class="fas fa-envelope"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
        </body>
        <style>
            
            .collapsible {
  background-color: rgb(95, 118, 248);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: rgb(17, 173, 101);
  
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
            .a{
                padding-top:9%;
            }
            body{
                background:url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
                background-size:cover;
                background-repeat:no-repeat;
                background-attachment: fixed;
                font-family: Arial, Helvetica, sans-serif;
                
            }
            .container1 {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 1000px;
  padding-top:12%;
  /* padding-bottom:50%; */
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  background: rgb(95, 118, 248);
  width: 250px;
  height: 200px;
  line-height: 200px;
  font-size: 3em;
  text-align: center;
  color: #FFF;
  opacity: 0.95;
  border-radius: 10px;
}
.container2{
    padding-top:5%;
}
.a {
  transform: rotateY(0deg) translateZ(250px);
  /* background: #ed1c24; */
}
.b {
  transform: rotateY(60deg) translateZ(250px);

}
.c {
  transform: rotateY(120deg) translateZ(250px);
  
}
.d {
  transform: rotateY(180deg) translateZ(250px);
  
}
.e {
  transform: rotateY(240deg) translateZ(250px);
 
} 
.f {
  transform: rotateY(300deg) translateZ(250px);
 
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
  top:120%;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  
  top:120%;
  
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; top:120%;}
.prev { left: 5em;top:120%; }
            
            .profile-picture{
width:13%;
            }
            .table{
                font-size: 3rem;
            }
            #ac{
        visibility:hidden;
    }
    header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;/*this will keep it always a top*/ 
    background-image:linear-gradient(to bottom,rgba(0,0,0,.5),#000);
}
header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:1;/*this will keep it always a top*/ 
    background-image:linear-gradient(to bottom,rgba(0,0,0,.5),#000);
    height:9rem;
}

    .profile-picture {
        width: 13%;
      
    }

    .table {
        font-size: 2rem;
       
    }
    .nav{
        justify-content:space-between;
       
    }
.menu-toggle{
        display:none;
    }
.fa-times{
    display:none;
}
.nav-list{
position:initial;
width:initial;
height:initial;
background-color:transparent;
padding:0;
justify-content:initial;
flex-direction:row;
transform:initial;
transition:initial;
    }
.nav::before{
    content: '';
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:rgba(0,0,0,.8);
    z-index:1000;
    opacity:0;
    transform:scale(0);
    transition:opacity .5s;
}
.nav-item{
        margin:0 2.4rem;
        border:none;
    }
    
.open .fa-times{
    display:block;
}
.open.fa-bars{
    display:none;
}
.open .nav-list{
    transform:translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform:scale(1);
}

.nav-link{
    display:block;
   
        color:rgb(245, 102, 102);
   
    font-size:1.6rem;
    letter-spacing:2px;
    margin-right:-2px;
    transition:color .5s;
}
.nav-item:last-child{
        margin-right:0;
    }
    .nav-link{
        font-size:1.3rem;
        color:rgb(245, 102, 102);
    }
        </style>
        <script>
            var coll = document.getElementsByClassName("collapsible");
                var i;

                for (i = 0; i < coll.length; i++) {
                    coll[i].addEventListener("click", function () {
                        this.classList.toggle("active");
                        var content = this.nextElementSibling;
                        if (content.style.maxHeight) {
                            content.style.maxHeight = null;
                        } else {
                            content.style.maxHeight = content.scrollHeight + "px";
                        }
                    });
                }
            var carousel = $(".carousel"),
                    currdeg = 0;

                $(".next").on("click", { d: "n" }, rotate);
                $(".prev").on("click", { d: "p" }, rotate);

                function rotate(e) {
                    if (e.data.d == "n") {
                        currdeg = currdeg - 60;
                    }
                    if (e.data.d == "p") {
                        currdeg = currdeg + 60;
                    }
                    carousel.css({
                        "-webkit-transform": "rotateY(" + currdeg + "deg)",
                        "-moz-transform": "rotateY(" + currdeg + "deg)",
                        "-o-transform": "rotateY(" + currdeg + "deg)",
                        "transform": "rotateY(" + currdeg + "deg)"
                    });
                }
                $('#exampleModal').on('show.bs.modal', function (event) {
                        var button = $(event.relatedTarget) // Button that triggered the modal
                        var recipient = button.data('whatever') // Extract info from data-* attributes
                        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                        var modal = $(this)
                        modal.find('.modal-title').text('New Request to ' + recipient)
                        modal.find('.modal-body input').val(recipient)
                    })
        </script>