<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<div class="ui main text container a">
<div class="ui main text container segment">
        <div class="ui huge header"><%=workshop.title%></div>
        <div class="ui attached">
            <div class="item">
             
                <img class="ui centered rounded image" src="/<%=workshop.file%>">
                <div class="description">
                   
                    <h4><%=workshop.desc%></h4>
                    <p><%=workshop.time%></p>
                </div>
                    <a class="ui blue basic button"href="/<%=workshop._id%>/edituser">Edit workshop</a>
                    <a class="ui blue basic button"href="/<%=workshop._id%>/changephotoworkshop">Change Photo</a>
                    <br><br>
                    <form action="/<%=workshop._id%>/editworkshop?_method=Delete" method="POST">
                        <button class="ui red basic button">Remove</button>
                    </form>      
                 
                  <a class="ui red basic button"href="/editworkshop">Back</a>
                 
            </div>
    </div>
    
    </div>
    <style>
 body  {
  background-image: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover
}
.a{
    margin-top:2%;
}

    </style>