<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <title>Staff Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="/CSS/amz.css">
</head>
<style>
    .nav-link {
        color: rgb(245, 102, 102);
    }
</style>

<body>
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Signed In as <%=currentStaff.username%></a>
                    </li>
                    <li class="nav-item">
                        <a href="/schedule" class="nav-link">Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a href="#aa" class="nav-link">FAQ</a>
                    </li>
                    <li class="nav-item">
                        <a href="/forgot" class="nav-link">Change Password</a>
                    </li>


                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Logout</a>
                    </li>


                </ul>
            </nav>
        </div>
    </header>
   
        <h1 class="headline-dark a">
            <center> Personal Information</center>
        </h1>
        <div class="container">
            <div class="wrapper">
                <div class="left">
                    <img class="profile-picture"
                        src="<%=currentStaff.file%>"
                        width="200" />
                    <table class="ui table">
                        <thead>
                            <tr>
                                <th class="ten wide">Categories</th>
                                <th class="six wide">Your Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td><%=currentStaff.name%></td>
                            </tr>
                            <tr>
                                <td>Employee ID</td>
                                <td><%=currentStaff.username%></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><%=currentStaff.email%></td>
                            </tr>
                            <tr>
                                <td>Mobile Number</td>
                                <td><%=currentStaff.mobile%></td>
                            </tr>
                            <tr>
                                <td>Department</td>
                                <td><%=currentStaff.dept%></td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            </div>
    
    <section class="discover-our-story">
        <h1 class="headline-dark">
            <center>Expense Information</center>
        </h1>
        <div class="container">
    
            <div class="company-info">
                <a class="c"  data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" href="#">
                <div class="cards-list animate-left">
    
                    <div class="card1 1">
                        <div class="card_image"> <img
                                src="https://media.consumeraffairs.com/files/cache/news/Credit_cards_concept_belchonock_Getty_Images_large.jpg" /> </div>
                        <div class="card_title title-white">
    <p>Debit Information</p>
                        </div>
                    </div>
                </div>
                </a>
               
                <div class="container ">
    
                    <div class="company-info">
                        <a data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" href="#">
                        <div class="cards-list animate-right">
    
                            <div class="card1 1">
                                <div class="card_image"> <img
                                        src="https://media.consumeraffairs.com/files/cache/news/Credit_cards_concept_belchonock_Getty_Images_large.jpg" />
                                </div>
                                <div class="card_title title-white">
   <p>Credit Information</p>
                                </div>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
    <section class="discover-our-story" id="aa">
        <h1 class="headline-dark">
            <center> FAQ's</center>
        </h1>
        <button class="collapsible">FAQ 1</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 2</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 3</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 4</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 5</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
        <button class="collapsible">FAQ 6</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo
                consequat.</p>
        </div>
    </section>
    </html>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/dashboard" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Date</label>
                            <input type="date"  name="request_staff[date]" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Credited From</label>
                            <input type="text" class="form-control" name="request_staff[credit]" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Recipient:</label>
                            <input type="text" class="form-control" name="request_staff[credit]" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Purpose</label>
                            <textarea class="form-control" name="request_staff[purpose]" id="message-text"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Expenditure Details</label>
                            <textarea class="form-control" name="request_staff[desc]" id="message-text"></textarea>
                        </div>

                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-secondary">Send message</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="back-to-top">
                <a href="a1"><i class="fas fa-chevron-up"></i></a>
            </div>
            <div class="footer-content">
                <div class="footer-content-about animate-up">
                    <h4>About AMZ</h4>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard
                        dummy text ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to
                        make a type specimen
                        book. It has survived not only five centuries, but also the leap into electronic
                        typesetting,
                        remaining essentially
                        unchanged. It was popularised in the 1960s with the release of Letraset sheets
                        containing Lorem
                        Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.
                    </p>
                </div>

                <div class="footer-content-divider animate-bottom">
                    <div class="social-media">
                        <h4>Follow Us On</h4>
                        <ul class="social-icons">
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-facebook-square"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="newsletter-container">
                        <h4>Newsletter</h4>
                        <form action="#" class="newsletter-form">
                            <input type="text" class="newsletter-input" placeholder="your email">
                            <button class="newsletter-btn" type="submit">
                                <i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
<style>
    .c{
        margin-right: 50rem;
    }
    .collapsible {
        background-color: rgb(95, 118, 248);
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: 1px solid black;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active,
    .collapsible:hover {
        background-color: rgb(17, 173, 101);

    }

    .collapsible:after {
        content: '\002B';
        color: white;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2212";
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }

    .a {
        padding-top: 5%;
    }

    body {
        background: url(https://img.freepik.com/free-photo/black-white-bamboo-surface-merge-background_7182-2053.jpg?size=626&ext=jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Arial, Helvetica, sans-serif;

    }

    .container1 {
        margin: 0 auto;
        width: 250px;
        height: 200px;
        position: relative;
        perspective: 1000px;
        padding-top: 12%;
        /* padding-bottom:50%; */
    }

    .carousel {
        height: 100%;
        width: 100%;
        position: absolute;
        transform-style: preserve-3d;
        transition: transform 1s;
    }

    .item {
        display: block;
        position: absolute;
        background: rgb(95, 118, 248);
        width: 250px;
        height: 200px;
        line-height: 200px;
        font-size: 3em;
        text-align: center;
        color: #FFF;
        opacity: 0.95;
        border-radius: 10px;
    }

  

    .profile-picture {
        width: 13%;
      
    }

    .table {
        font-size: 2rem;
       
    }
</style>
<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
    var carousel = $(".carousel"),
        currdeg = 0;

    $(".next").on("click", { d: "n" }, rotate);
    $(".prev").on("click", { d: "p" }, rotate);

    function rotate(e) {
        if (e.data.d == "n") {
            currdeg = currdeg - 60;
        }
        if (e.data.d == "p") {
            currdeg = currdeg + 60;
        }
        carousel.css({
            "-webkit-transform": "rotateY(" + currdeg + "deg)",
            "-moz-transform": "rotateY(" + currdeg + "deg)",
            "-o-transform": "rotateY(" + currdeg + "deg)",
            "transform": "rotateY(" + currdeg + "deg)"
        });
    }
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>
<script src="amz.js"></script>