<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>workshops</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="stylesheet" href="/CSS/amz.css">
</head>
<body>
    <header>
        <div class="container">
            <nav class="nav">
                <div class="menu menu-toggle">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times"></i>
                </div>
                <a href="amz.html" class="logo"><img src="images/logo-rosa.png" alt=""></a>
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                  
                            <li class="nav-item">
                                <a href="#" class="nav-link active">workshops</a>
                            </li>
                           
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Aspiring Researchers</a>
                            </li>
                            <li class="nav-item">
                                <a href="/login" class="nav-link">Faculty Login</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown1">
                                    <a class="nav-link">Internship Programs
                                       
                                
                                    <div class="dropdown1-content">
                                        <a href="/mechanical">Mechanical</a>
                                        <a href="/civil">Civil</a>
                                        <a href="/computer">Computer Science</a>
                                        <a href="/electrical">Electrical And Electronics</a>
                                    </div>
                                </div>
                                </li>
                            <li class="nav-item">
                            <div class="dropdown1">
                                <a class="nav-link">Center Of Excellence
                                
                            
                                <div class="dropdown1-content">
                                    <a href="#">Quadbike</a>
                                    <a href="#">Electric Car</a>
                                    <a href="#">Hybrid Car</a>
                                    <a href="#">Robotics</a>
                                </div>
                            </div>
                            </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="w3-container">
            <div class="w3-content w3-display-container">
    <section class="discover-our-story">
<h1 class="headline-dark aws">
    <center>workshops</center>
</h1>        
<% var z=((workshops.length))%>
<%var n=((workshops.length))%>
<%for(var i=0;i<z;i++){%>
        <div class="container">
    <div class="w3-display-container mySlides ">
           
<div class="card-deck">
<% if (workshops[(2*i)%n]!=undefined){%>
<div class="card">

    <img src="<%=workshops[(2*i)%n].file%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%=workshops[(2*i)%n].title%></h5>
        <p class="card-text"><%=workshops[(2*i)%n].desc%></p>
        <p class="card-text"><small class="text-muted">Last updated on <%=workshops[(2*i)%n].time%></small></p>
    </div>  
</div>
<%}%>
<% if (workshops[(2*i+2)%n]!=undefined){%>
<div class="card">
    
    <img src="<%=workshops[(2*i+2)%n].file%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%=workshops[(2*i+2)%n].title%></h5>
        <p class="card-text"><%=workshops[(2*i+2)%n].desc%></p>
        <p class="card-text"><small class="text-muted">Last updated on <%=workshops[(2*i+2)%n].time%></small></p>
    </div>
</div>
<%}%>
<% if (workshops[(2*i+4)%n]!=undefined){%>
<div class="card">
    
    <img src="<%=workshops[(2*i+4)%n].file%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%=workshops[(2*i+4)%n].title%></h5>
        <p class="card-text"><%=workshops[(2*i+4)%n].desc%></p>
        <p class="card-text"><small class="text-muted">Last updated on <%=workshops[(2*i+4)%n].time%></small></p>
    </div>
</div>

<%}%>
</div>
                   
                </div>
            </div> 
            <%}%>  
    </div>
</div>
</section>
</div>
<section class="discover-our-story">
        <div class="w3-container">
                <div class="w3-content w3-display-container">
<% var z=((workshops.length))%>
<%var n=((workshops.length))%>

<%for(var i=0;i<z;i++){%>
        <div class="container">
    <div class="w3-display-container ms ">
           
<div class="card-deck">
<% if (workshops[(2*i+1)%n]!=undefined){%>
<div class="card">

    <img src="<%=workshops[(2*i+1)%n].file%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%=workshops[(2*i+1)%n].title%></h5>
        <p class="card-text"><%=workshops[(2*i+1)%n].desc%></p>
        <p class="card-text"><small class="text-muted">Last updated on <%=workshops[(2*i+1)%n].time%></small></p>
    </div>
</div>
<%}%>
<% if (workshops[(2*i+3)%n]!=undefined){%>
<div class="card">
    
    <img src="<%=workshops[(2*i+3)%n].file%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%=workshops[(2*i+3)%n].title%></h5>
        <p class="card-text"><%=workshops[(2*i+3)%n].desc%></p>
        <p class="card-text"><small class="text-muted">Last updated on <%=workshops[(2*i+3)%n].time%></small></p>
    </div>
</div>
<%}%>
<% if (workshops[(2*i+5)%n]!=undefined){%>
<div class="card">
    
    <img src="<%=workshops[(2*i+5)%n].file%>" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%=workshops[(2*i+5)%n].title%></h5>
        <p class="card-text"><%=workshops[(2*i+5)%n].desc%></p>
        <p class="card-text"><small class="text-muted">Last updated on <%=workshops[(2*i+5)%n].time%></small></p>
    </div>
</div>
<%}%>
</div>
                   
                </div>
            </div>   
    </div>
<%}%>
</section>
</div>
<style>
    #asdf{
position:Absolute;
margin-top:0%;
margin-right:0%;
width:100%;
    }
 .btn{
    width:10%;
    height:1rem;
    text-align: center;
    font-size:2rem;
    padding-bottom:3%;
}

.aws{
        padding-top:45%;
    }
        @media screen and (min-width:900px){
    .aws{
        padding-top:5%;
    }
}
.card{
cursor: pointer;
margin: 2px auto;
width: 300px;
}
.sr-only{
color:black;
}
</style>
<button class="as13" onclick="plusDivs(-1)">&#10094;</button>
<button class="as14" onclick="plusDivs(1)">&#10095;</button>
<button class="as15" onclick="plusDivison(-1)">&#10094;</button>
<button class="as16" onclick="plusDivison(1)">&#10095;</button>
</div>
</section>
</div>
</div>
<footer id="asdf">
    <div class="container">
        
        <div class="footer-content">
            <div class="footer-content-about animate-up">
                <h4>About AMZ</h4>

                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the
                    industry's standard
                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to
                    make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic
                    typesetting,
                    remaining essentially
                    unchanged. It was popularised in the 1960s with the release of Letraset sheets
                    containing Lorem
                    Ipsum passages, and more
                    recently with desktop publishing software like Aldus PageMaker including versions of
                    Lorem Ipsum.
                </p>
            </div>

            <div class="footer-content-divider animate-bottom">
                <div class="social-media">
                    <h4>Follow Us On</h4>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="newsletter-container">
                    <h4>Newsletter</h4>
                    <form action="#" class="newsletter-form">
                        <input type="text" class="newsletter-input" placeholder="your email">
                        <button class="newsletter-btn" type="submit">
                            <i class="fas fa-envelope"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .headline-dark{
        
        padding-top:5%;
        
    }
    .sr-only{
        color:black;
    }
</style>
 <script>
        const selectElement=function(element){
    return document.querySelector(element);
    };
    let menuToggler = selectElement('.menu-toggle');
    let body = selectElement('body');
    menuToggler.addEventListener('click',function() {
        body.classList.toggle('open');
    });  
    window.sr=ScrollReveal();
    sr.reveal(".animate-left",{
        origin:"left",
        duration:1500,//duration is in milliseconds
        distance:'25rem',
        delay:300
    });
    sr.reveal(".animate-right", {
        origin: "right",
        duration: 1500,//duration is in milliseconds
        distance: '25rem',
        delay: 300
    });
    var si = 1;
    showDivs(si);
    function plusDivs(n) {
        showDivs(si += n);
    }
    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { si = 1 }
        if (n < 1) { si = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[si - 1].style.display = "block";
    }
    var slideIndex = 1;
    showDivison(slideIndex);
    function plusDivison(n) {
        showDivison(slideIndex += n);
    }
    function showDivison(n) {
        var i;
        var x = document.getElementsByClassName("ms");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }
    var s = 1;
    showDi(s);
    function plusDi(f) {
        showDi(s += f);
    }
    function showDi(f) {
        var i;
        var x = document.getElementsByClassName("m");
        if (f > x.length) { s = 1 }
        if (f < 1) { s = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[s - 1].style.display = "block";
    }</script>